body {
    background-color: #000000;
    text-align: center;
}

@font-face {
	font-family: monospace;
    /*src: url(fonts/Hack-Regular.ttf);*/
}

h1 {
    color: white;
    font-family: monospace;
    font-size: 700%;
    display: inline-block;
}

#splitter { 
    color: white;
}
#days { 
    color: blue;
}
#hours { 
    color: red;
}
#mins { 
    color: yellow;
}
#secs { 
    color: green;
}